/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); */

* {
    box-sizing: border-box;
}

html {

}

body {
    font-family: 'Arial', sans-serif;
    font-size: .9rem;
    color: rgb(51, 51, 51);
}

.site-container {
    background-color: #fff;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
}

/* -------------------------------------------------------------------------- */
/* NAVIGATION */
/* -------------------------------------------------------------------------- */

.nav-container {
    height: 100%;
    min-width: 375px;
    position: fixed;

    display: flex;
    flex-direction: row;
    
}

.nav-doc {
    min-width: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.nav-logo i {
    font-size: 2.1rem;
    color: rgb(3, 211, 107);
    /* height: 20px !important; */
}


.nav-icons-top {
    margin-top: 1em;
}


.nav-icon {
    line-height: 3rem;
}

.nav-heading {
    line-height: 2rem;
}

.nav-list {
    width: 100%;
    background-color: rgb(246, 247, 248);
    border-right: solid 1px rgb(239, 239, 239);
    border-left: solid 1px rgb(239, 239, 239);
    

}

.nav-list-rows-top {
    margin-top: 3.5em;
}

.nav-list-row {
    
    width: 90%;
    padding: 0 1.5em;
    align-items: center; 
    cursor: pointer;

    display: flex;   
}

.count {
    color: rgb(3, 211, 107); 
}

.nav-list-row:hover {
    background-color: rgb(238, 238, 238);
    border-radius: 0 7px 7px 0;
    color: rgb(3, 211, 107);
}

.nav-list-row span:last-of-type {
    margin-left: auto;
}

.nav-heading {
    font-weight: 700;
    font-size: 13px;
}

i {
    color: rgb(175, 175, 175);
    font-size: 1.1rem;
}

 .nav-list i {
    margin-right: 1em;
    width: 20px;

 }

.icon-wrapper {
    text-align: center;
}

 /* -------------------------------------------------------------------------- */
/* ARTICLES PAGE */
/* -------------------------------------------------------------------------- */


.articles-container {
    width: 33%;
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    /* align-items: center; */  
}

.article-board-title {
    margin: 0;
}

.article-board-desc {
    margin-top: .6em; 
    color: rgb(156, 155, 155);
    font-size: 1.3rem;
    font-weight: 400;
}


/* -------------------------------------------------------------------------- */
/* ARTICLE BLOCK */
/* -------------------------------------------------------------------------- */


.articles-view {
    height: 100%;

    display: flex; 
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
    
.articles-banner {
    width: 100%;
    display: flex;
    margin: 4em 0 7em 0;
}

.articles-banner-col-left {
    width: 70%;
}

.articles-banner-col-right {
    width: 30%;
    text-align: right;
}

.articles-banner-col-right i {
    margin-right: .25em;
    font-size: 1.5rem;
}


.article-box {
    min-width: 256px;
    max-width: 256px;
    max-height: 370px;
    margin-bottom: 2.5em;
    cursor: pointer;
}

.article-title {
    margin: 0;
    margin-bottom: .8em;
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: -0.64;
    font-weight: 700;
}

.article-img-wrapper {
    width: 100%;
    position: relative;
}

.article-img-wrapper img {
    width: 100%;
    height: 145px;
    border-radius: .3em;
    margin-bottom: .3em;
}

.article-img-wrapper-hover {
    filter: opacity(80%);
    transition: all .5s;
}


.article-data-row {
    display: flex;
    justify-content: space-between;
}

.article-text, .article-data-row {
    font-size: .83rem;
    /* color: rgb(139, 139, 139); */
    color: rgb(158, 158, 158);
    line-height: 1.15rem;
    text-rendering: optimizeLegibility;
}

.article-board {
    color: rgb(3, 211, 107);
}

.overlay-icon-row {
    display: flex;
    position: absolute;
    top: 10px;
    left: 188px;
    opacity: 0;
    transition: all .5s;
}

.overlay-icon {
    top: 10px;
    margin-left: .85em;
    
}

.overlay-icon-row i {
    color: rgb(255, 254, 254);
}

.overlay-icon-row i:hover {
    color:rgb(3, 211, 107);
    filter: drop-shadow(0px 0px 1px rgb(39, 39, 39));
}

.active-icon {
    color:rgb(3, 211, 107) !important;
}

.show {
    opacity: 1;
    transition: all .5s;
}


/* ========================================================================== */
/* REFRESH SPINNER */
/* ========================================================================== */

.loading {
    /* margin-top: 100px; */
    /* text-align: center; */
    width: 23px;
}

.loading #body {
    animation: rotateSpinner 1000ms ease-out ;
    animation-delay: 200ms;
    fill: #D9DBD5;
  }
  
  .loading #Bar1,.loading #Bar2,.loading #Bar3,.loading #Bar4,.loading #Bar5 {
    animation: moveBars 1000ms ease-out infinite;
  /**  fill: #ECEDEA;**/
  }
  
  .loading #Bar5 {  animation-delay: 400ms;}
  .loading #Bar4 {  animation-delay: 300ms;}
  .loading #Bar3 {  animation-delay: 200ms;}
  .loading #Bar2 {  animation-delay: 100ms;}
  .loading #Bar1 {  animation-delay: 0ms;}
  
  @keyframes rotateSpinner {
    0% {
      transform-origin: center center;
    }
    100% {
      transform-origin: center center;
      transform: rotate(-360deg);
    }
  }
  
  @keyframes moveBars {
    0% {}
    50% {
      transform: translate(-100%, 100%);
    }
  }