/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); */

* {
    box-sizing: border-box;
}

html {
margin: 0;
padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: .9rem;
    color: rgb(51, 51, 51);
}

.site-container {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* -------------------------------------------------------------------------- */
/* NAVIGATION */
/* -------------------------------------------------------------------------- */

.nav-container {
    height: 100%;
    min-width: 368px;
    max-width: 368px;

    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: row;
}

.nav-doc {
    min-width: 65px;
    position: fixed;
    height: 100%;
    background-color: #fff;
    border-right: solid 1px rgb(239, 239, 239);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-doc .page-icon-wrapper {
    margin: 0 0 1.5em 0;
}


.nav-doc .page-icon-wrapper i {
 color: rgb(192, 192, 192);
 font-size: 1.08rem;
}

.nav-doc .page-icon-wrapper i:hover {
    color: rgb(3, 211, 107);
   }

.nav-logo {
    max-width: 41px;
    margin-bottom: .6em;
}

.nav-logo img {
    width: 100%;
}


.nav-icons-top {
    margin-top: 1.23em;
    margin-bottom: 2.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-icons-mid {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 /* display: none; */
}


.nav-icon {
    line-height: 3rem;
}

.nav-heading {
    line-height: 2rem;
}

.nav-list {
    width: 100%;
    background-color: rgb(246, 247, 248);
    border-right: solid 1px rgb(239, 239, 239);
    margin-left: 17.5%;
    overflow: hidden;
}

.nav-list-rows-top {
    margin-top: 3.5em;
}

.nav-list-row {
    color: #949494fa;
    width: 90%;
    min-width: 280px;
    padding: 0 1.5em;
    align-items: center; 
    cursor: pointer;
    border-radius: 0;
    display: flex;
}


.nav-list-row i { 
    font-size: 1.1rem;
}

.nav-list-row .nav-heading {
    font-size: .8rem;
}

.count {
    width: 16px;
    height: 16px;
    color: #fff;
    background-color: #ff625ad5;
    border-radius: 2.5px;
    font-size: .7rem;

    display: flex;
    align-items: center;
    justify-content: center;
}


.count:empty {
    display: none;
}

.nav-list-row:hover {
    box-sizing: 0;
    /* background-color: #acb6b6; */
    /* background-color: #fff; */
    color: #fff;
    /* color: #03D36B; */
    background-color: #eaedf2;

    background-image: linear-gradient(to right top, #00c27e, #00d185, #00e08d, #00f094, #00ff9b);
    /* border-radius: 0 15px 15px 0; */
    border-radius: 0 3px 3px 0;
    box-shadow: 0 2px 4px rgb(184, 184, 184);
    opacity: 0.82;
}

.active-row {
    background-color: rgba(3, 211, 107, 0.096);
    border-radius: 0 15px 15px 0;
    color: #03D36B;
}

.nav-list-row span:last-of-type {
    margin-left: auto;
}

.nav-heading {
    font-weight: 700;
    font-size: 13px;
}


 .nav-list i {
    font-size: .95rem;
 }

.icon-wrapper {
    min-width: 28px;
    min-height: 28px;
    /* background-image: linear-gradient(to top, #00c27e, #00d185, #00e08d, #00f094, #00ff9b); */
    /* background-color: rgb(0, 68, 255); */
    border-radius: .2em;
    margin-right: 1em; 

    display: flex;
    justify-content: center;
    align-items: center;
}

 /* -------------------------------------------------------------------------- */
/* ARTICLES PAGE */
/* -------------------------------------------------------------------------- */


.articles-container {
    /* position: relative; */
    /* width: 85.5%; */
    width: 100%;
    height: 140%;
    /* min-width: 865px; */

    /* margin-left: 14.5%; */
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    /* justify-content: center; */
}

.articles-header {
    /* height: 150px; */
    width: 100%;
    min-height: 3.4em;
    position: fixed;
    background-color: #fff;
    border-bottom: solid 1px rgb(239, 239, 239);
    z-index: 10;

    display: flex;
}

.articles-header-centered {
    margin: 0 auto;
    max-width: 850.1px;
    min-width: 850.1px;
    padding-right: 1.7rem;
    

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.articles-header-title {
    text-transform: capitalize;
}

.articles-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center !important; */
    margin: 0 auto;
    margin-top: 2.8em;
    /* width: 50%; */
    /* min-width: 85.5% ; */
    min-width: 850.1px;
    max-width: 850.1px;
    
}

.article-board-title {
    text-transform: capitalize;
    font-size: 2.1rem;
    letter-spacing: -1.36px;
    line-height: 42px;
    margin: 0;
    margin-top: .3em;
}

.article-board-desc {
    margin-top: .4em; 
    color: #757597;
    font-size: 1.25rem;
    font-weight: 400;
}

.articles-view {
    height: auto;
    margin-top: 3.7em;
    /* max-width: 822.8px; */

    display: flex; 
    flex-wrap: wrap;
    align-content: flex-start;
}

.articles-banner {
    width: 822.6px;
    display: flex;
    margin: 4em 0 1em 0;
    padding-bottom: 2.5em;
    border-bottom: 1px solid rgb(240, 238, 238);
}

.articles-banner-col-left {
    width: 65%;
}

.articles-banner-col-right {
    width: 35%;
    text-align: right;

    display: flex;
    justify-content: flex-end;
}

.page-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-icon-wrapper {
    /* font-size: 1.15rem; */
    width: 38px;
    height: 38px;
    border-radius: .2em;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.page-icon-wrapper:hover {
    background-color: #F2F2F2;
    transition: ease-in-out .25s;
}

.page-icon-wrapper i {
    color: #8b8b8b;
    font-size: .95rem;
  }


/* -------------------------------------------------------------------------- */
/* SPINNER */
/* -------------------------------------------------------------------------- */  

.spinner-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 248px;
}

.spinner-wrapper svg {
    animation-name: spin;
    animation-duration: .78s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-txt {
    padding-left: .6em;
    color: #739FA840
}

/* -------------------------------------------------------------------------- */
/* ARTICLE BLOCK */
/* -------------------------------------------------------------------------- */


.article-box {
    /* min-width: 456px; */
    min-width: 256px;
    max-width: 256px;
    max-height: 370px;
    margin-bottom: 2.5em;
    cursor: pointer;
    margin-right: 1.9em;
    position: relative;
}
/* 
.article-box:nth-child(3n) {
    margin-right: 0;
} */

a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.article-title {
    margin: 0;
    margin-bottom: .8em;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: -0.04em;
    font-weight: 600;
}

.article-title:hover {
    color: rgb(148, 148, 148);
    transition: ease-in .1s;
}

.article-img-wrapper {
    width: 100%;
    /* position: relative; */
    /* z-index: 10; */
}

.article-img-wrapper img {
    width: 100%;
    height: 145px;
    border-radius: .25em;
    margin-bottom: .3em;
    border: 1px solid rgb(233, 233, 233);
}

.article-img-wrapper-hover {
    /* filter: opacity(80%); */
    filter: brightness(40%);
    transition: all .65s;
}


.article-data-row *{
    /* display: flex;
    justify-content: flex-start; */
    font-size: .74rem;
}

.article-data-row i {
    margin-right: .4em;
}

.article-text, .article-data-row {
    font-size: .81rem;
    color: rgb(158, 158, 158);
    line-height: 1.05rem;
    text-rendering: optimizeLegibility;
}

.article-board {
    background-image: linear-gradient(to right top, #00c27e, #00d185, #00e08d, #00f094, #00ff9b);
    border-radius: 2px;
    color: #fff;
    margin-right: .6em;
    padding: .24em .74em;
    box-shadow: 0px 2px 5px #ccc;
}

.article-board:empty {
    display: none;
 }


 .article-source {
     margin-right: .6em;
 }

 .article-source, .article-age, .article-age i {
     color: rgba(95, 165, 150, 0.892);
 }

.overlay-icon-row {
    display: flex;
    /* visibility: hidden; */
    opacity: 0;
    top: 10px;
    left: 188px;
    position: absolute;
    /* transition: all .5s; */
}

.overlay-icon {
    top: 10px;
    margin-left: .85em;
    
}

.overlay-icon-row i {
    color: rgb(255, 254, 254);
}

.overlay-icon-row i:hover {
    color:rgb(3, 211, 107);
    /* filter: drop-shadow(0px 0px 1px rgb(39, 39, 39)); */
}

.active-icon {
    color:rgb(3, 211, 107) !important;
}

/* .show {
    opacity: 1;
    transition: all .5s;
} */

/* -------------------------------------------------------------------------- */
/* REUSABLE */
/* -------------------------------------------------------------------------- */

.no-display {
    display: none;
}

.visible {
    visibility: visible;
}

.collapse-width {
    width: 0;
    transition: ease-in-out .3s;
}

.expand-width {
    width: 100%;
    transition: ease-in-out .3s;
}

.rread {
    opacity: .55;
}

.fade-in{
    opacity: 1;
    transition: all .8s;
}


/* -------------------------------------------------------------------------- */


.menu-toggled-bookmarked-count {
    position: absolute;
    top: 202px;
    left: 38px;

}

.menu-toggled-rread-count {
    position: absolute;
    top: 264px;
    left: 38px;
}

/* -------------------------------------------------------------------------- */


/* ========================================================================== */
/*  MAGAZINE VIEW STYLING */
/* ========================================================================== */

.mag--article-box {
min-width: 600px !important;
min-height: 150.25px !important;
max-height: 150.25px !important;
display: flex !important;
}

.mag--article-img-wrapper {
    width: auto !important;
    margin-right: 1.2rem;
}

.mag--article-img{
    height: 81px !important;
    width: 132px !important;
}

.mag--article-title {
    margin-bottom: .5em !important;
    /* min-height : 40px;
    max-height : 40px; */

    min-width : 324px;
    max-width : 324px;
}

.mag--article-text {
    /* margin-top: 3em !important; */
    margin: .8em 0;
    /* min-width : 324px;
    max-width : 324px; */
}

.mag--overlay-icon-row {
    position: relative;
    top: -86px !important;
    left: 540px !important;
    /* opacity: 1 !important; */
    color: rgb(223, 220, 220) !important;
}

.mag--overlay-row-icons {
    color: rgb(211, 211, 211) !important;
    font-size: .85rem !important;
}


/* ========================================================================== */
/* MEDIA QUERIES */
/* ========================================================================== */


@media (max-width: 1800px) {
  
    .nav-container {
        min-width: 0;
        max-width: 0;
    } 

    .nav-icons-mid {
        display: flex;
        position: relative;
    }

    .count {
        position: absolute;
        left: 38px;
    }

    .bookmarked-count {
        top: 202px;
    }

    .rread-count {
        top: 264px;
    }

}


@media (max-width: 1024px) {

    .articles-container {
        margin-left: 64px;
    }

    .articles-banner {
        margin: 4em 0 5em 0;
    }

    .articles-banner-col-right {
        margin-right: 2.1em;
    }

    .articles-header-centered {
        justify-content: space-between;
        max-width: 620px;
        min-width: 620px;
        margin: 0 auto;
        padding: 0 5em 0 0;
    }

    .articles-content {
        max-width: 600px;
        min-width: 600px;
        margin: 0 auto;
        padding-left: 1.5em;

    }

    .article-board-title {
        font-size: 1.3rem;
    }

    .article-board-desc {
        margin-top: 1.1em;
        font-size: .85rem;
    }
}



@media (max-width: 1024px) {
    .articles-banner {
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 1em;
    }
    
    .article-board-title {
        font-size: 1.9rem;
        margin-top: 0;
    } 

    .article-board-desc {
        font-size: 1.2rem;
        margin-top: .8em;
    }
}

@media (max-width: 850px) {
    .articles-banner {
        width: 540px;
    }

    .articles-banner-col-right {
        margin-right: 0;
    }


}


@media (max-width: 650px) {
    .articles-content {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .articles-view {
        width: 100%;
        margin-top: 3.4em;
        margin-left: 0;
    }

    .articles-header-centered {
        /* max-width: 55%; */
        min-width: 93%;
    }

    .articles-banner {
        display: none;
    }

    .article-box {
        min-width: 100%;
        min-height: 430px;
        max-height: 430px;
        margin-bottom: 4.5em;
    }

    .article-box img {
        /* width: 100%; */
        height: auto;
    }

    .overlay-icon-row {
        margin: 0;
        padding: 0;
        top: 15px;
        left: 425px;
    }

    .overlay-icon-row i {
        margin-left: .4em;
    }

    .overlay-icon-row {
        display: none;
    }

    .spinner-wrapper {
        top: 60px;
        left: 80px;
    }
}

@media (max-width: 600px) {
    

    .articles-view {
        padding-left: .1em
    }

    .articles-header-centered {
        padding-right: 4.1em;
    }
}


@media (max-width: 450px) {
    .articles-content {
        min-width: 100%;
    }

    .articles-view {
        width: 100%;
        margin-left: 0;
    }

    .article-box {
        min-height: 375px;
    }

    .article-box img {
     border-radius: 0;
    }

    .overlay-icon-row {
        top: 15px;
        left: 318px;
    }

    .overlay-icon-row i {
     margin-left: 0;  
    }

}


@media (max-width: 375px) {
    
    .article-box {
        min-height: 345px;
    }

    .overlay-icon-row {
        top: 15px;
        left: 240px;
    }

    .article-title, .article-text {
        padding-right: 1em;
    }
    
}